@import url("https://fonts.googleapis.com/css?family=Barlow:600,700&display=swap");

html,
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, #1f3756 50%, #141539);
    color: white;
    font-family: "Barlow", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    display: flex;
    width: 50%;
    margin: 10px auto 0px auto;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 10px;
}

.scoreboard-title {
    font-size: xx-large;
    line-height: 30px;
}

.scoreboard-box {
    display: flex;
    background-color: #F0F2F4;
    border-radius: 8px;
    height: 80px;
    padding: 0px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoreboard-box-label {
    font-size: medium;
    color: #141539;
    margin-bottom: 5px;
}

.scoreboard-box-score {
    font-size: x-large;
    color: #141539;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 100px;
}

.choice {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 100px;
    cursor: pointer;
    border: 15px solid;
}

.rock {
    border-color: #4A6AF0;
}

.paper {
    border-color: #EC9E0E;
}

.scissor {
    border-color: #D9425C;
}

.hide {
    display: none !important;
}

.result-wrapper {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.result-wrapper-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-size: large;
}

.announcement-text {
    font-size: xx-large;
    margin: 0px 50px;
}

.btn {
    background-color: transparent;
    border: 1px solid snow;
    color: snow;
    font-size: x-large;
    padding: 10px 50px;
    border-radius: 8px;
    cursor: pointer;
}

.btn:nth-child(3) {
    margin-top: 100px;
}